{% load static %}

<html>
  <head>

    <title>Resultat</title>
     <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  </head>

  <body>
    <h1>Resultat</h1>
    <p>Namn: {{ name }}</p>
    <p>Klass: {{ klass }}</p>
    <p>
      Du gjorde testet i {{ minutes}} minuter och {{ seconds }} sekunder. Du hade {{ correct }} korrekta svar, och {{ errors }} fel.</p>
    <p>Du behöver repetera följande multiplikation som du hade fel:
    </p>
    {% for e in ers %}
    <li>{{ e }}</li>
    {% endfor %}

  </body>
</html>
