{% load static %}
<html>
  <head>
    <style>
      .content{
	  max-width: 500px;
	  margin: auto;
	  background: white;
	  padding: 10px;
      }
    </style>
    <title>Läraren</title>
     <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  </head>

  <body>
    <form action ="" method ='get'>
      {% csrf_token %}

      {{ form.klasser }}
      {{ form.weeks }}
      <input  type="submit" value = "Skicka">
      <p></p>
      <table border="1">
	<th>Namn</th>
	<th>Klass</th>
	<th>Id</th>
	<th>Vecka</th>
	<th>Datum</th>
	<th>Start</th>
	<th>Tid</th>
	<th>Rätt</th>
	<th>Fel</th>
	{% for test in tests %}
	<tr>  
	  <td>{{ test.studid.name }} </td>
	  <td>{{ test.studid.klass }}</td>
	  <td>{{ test.studid.studid }}</td>
	  <td>{{ test.week }}</td>
	  <td>{{ test.date }}</td>
	  <td>{{ test.start }}</td>
	  <td>{{ test.tid }}</td>
	  <td>{{ test.correct }}</td>
	  <td>{{ test.errors }}</td>
	</tr>

	{% endfor %}

      </table>
    </form>
    
  </body>
</html>
